* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://c.pxhere.com/images/43/c4/0112b90aa1bdeb93519d14635f52-1593078.jpg!d");
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.blur {
    position: absolute;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: -1;
}

.conteudos {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 3%;
    column-gap: 2%;
}

.grid {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.header {
    font-family: "Poppins", sans-serif;
    width: 90%;
    font-size: 30px;
    color: black;
    text-align: center;
    font-weight: 600;
}

.add {
    align-self: start;
    font-size: 20px;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 8px;
    transition: color 0.3s ease;
}

.add:hover {
    color: black;
    background-color: #f0f0f0;
    /* text-decoration: underline; */
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container-adicionar {
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    height: 500px;
    width: 500px;
    border-radius: 10px;
}

#adicionar {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.titulo-adicionar {
    padding: 5%;
}

.abrir {
    width: 100%;
    text-align: center;
}

.fechar {
    display: flex;
    justify-content: right;
    cursor: pointer;
}

.campos {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

.campos-item {
    aspect-ratio: 1/0.5;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descricao textarea {
    width: 80%;
    height: 170px;
}

#items {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    height: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    width: 85%;
}

#prioridade-fazer {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    border-radius: 30px;
}

#tarefa-fazer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: rgba(175, 175, 175, 0.3);
    border-radius: 10px;
}

#data-inicio-fazer {
    display: flex;
    justify-content: right;
    color: black;
}

#data-prazo-fazer {
    display: flex;
    justify-content: right;
    color: black;
}

#descricao-fazer {
    display: flex;
    color: black;
}

#prioridade-andamento {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    border-radius: 30px;
}

#tarefa-andamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: rgba(175, 175, 175, 0.3);
    border-radius: 10px;
}

#data-inicio-andamento {
    display: flex;
    justify-content: right;
    color: black;
}

#data-prazo-andamento {
    display: flex;
    justify-content: right;
    color: black;
}

#descricao-andamento {
    display: flex;
    color: black;
}

#prioridade-concluido {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 233, 9);
    color: white;
    border-radius: 30px;
}

#tarefa-concluido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: rgba(175, 175, 175, 0.3);
    border-radius: 10px;
}

#data-inicio-concluido {
    display: flex;
    justify-content: right;
    color: black;
}

#data-prazo-concluido {
    display: flex;
    justify-content: right;
    color: black;
}

#descricao-concluido {
    display: flex;
    color: black;
}