* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://c.pxhere.com/images/43/c4/0112b90aa1bdeb93519d14635f52-1593078.jpg!d");
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo {
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.blur {
    position: absolute;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: -1;
}

.conteudos {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 3%;
    column-gap: 2%;
}

.grid {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    border-radius: 10px;
}

.header {
    font-family: "Poppins", sans-serif;
    width: 90%;
    background-color: white;
    font-size: 30px;
    color: black;
    text-align: center;
}

.add {
    align-self: start;
    font-size: 20px;
    color: gray;
    cursor: pointer;
    margin-top: 10px;
    transition: color 0.3s ease;
}

.add:hover {
    color: black;
}

.adicionar {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.container-adicionar {
    position: relative;
    background-color: lightgray;
    height: 500px;
    width: 500px;
    border-radius: 10px;
}

.adicionar {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.container-adicionar {
    position: relative;
    background-color: lightgray;
    height: 500px;
    width: 500px;
    border-radius: 10px;
}